.navigation {
  font-family: $font-main;
  color: #000;
  padding-inline: 0.5rem;
  padding-block: 0.4rem;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  &__list {
  }

  &__listitem {
    display: inline-block;
  }

  &__button{
    flex: 0;
  }
}
