@use '../abstracts/variables' as vars;

.slider {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;


  &__slides {
    position: relative;
    height: 100%;
    overflow: hidden;
  }

  &__slide {
    overflow-y: auto;
    position: absolute;
    height: 100%;
    width: 100%;
    visibility: hidden;
  }

  &__buttons {
    background-color: vars.$color-primary;
    display: flex;
    justify-content: space-between;
  }


  &--slide-in-right {
    animation: slide-in-right 150ms ease-in-out forwards;
    animation-delay: 250ms;
  }

  &--slide-out-right {
    animation: slide-out-right 250ms ease-in-out forwards;

  }

  &--slide-in-left {
    animation: slide-in-left 150ms ease-in-out forwards;
    animation-delay: 250ms;
  }

  &--slide-out-left {
    animation: slide-out-left 250ms ease-in-out forwards;
  }

  @keyframes slide-in-left {
    from {
      transform: translateX(100%);
      visibility: hidden;
    }
    to {
      transform: translateX(0);
      visibility: visible;
    }
  }

  @keyframes slide-out-left {
    from {
      transform: translateX(0);
      visibility: visible;
    }
    to {
      transform: translateX(-100%);
      visibility: hidden;
    }
  }

  @keyframes slide-in-right {
    from {
      transform: translateX(-100%);
      visibility: visible;
    }

    to {
      transform: translateX(0);
      visibility: hidden;
    }
  }

  @keyframes slide-out-right {
    from {
      transform: translateX(0);
      visibility: visible;
    }

    to {
      transform: translateX(100%);
      visibility: hidden;
    }
  }
}
