# Node-Module
node_modules/

# Output-Ordner
dist/

# Vite Cache
.vite/

# Log-Dateien
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Lokale Umgebungsdateien
.env
.env.local
.env.*.local

# MacOS-spezifische Dateien
.DS_Store

# VSCode spezifische Dateien
.vscode/

# Temporäre Dateien (Betriebssystem)
Thumbs.db
.DS_Store

# IDE-spezifische Dateien
.idea/
*.iml
