@use '../abstracts/variables' as vars;

.base-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  outline: none;
  padding-block: var(--button-padding-block, 0.5em);
  padding-inline: var(--button-padding-inline, 0.8em);
  overflow: visible;
  font-size: 1.2em;
  font-weight: vars.$fw-regular;
  line-height: 1.4;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border-color: var(--button-border-color, transparent);
  background-color: var(--button-background, #{vars.$color-secondary});
  border-style: solid;
  border-width: var(--button-border-width, 1px);
  border-color: var(--button-border-color, transparent);
  color: var(--button-text-color, #{vars.$color-primary});

  @media (hover: hover) {
    &:hover {
      --button-background: #{vars.$color-secondary};
      --button-text-color: #{vars.$color-primary};
      --button-border-color: #{vars.$color-primary};
    }
  }

  &:active {
    --button-background: #{vars.$color-secondary-opacity-high};
    --button-text-color: #{vars.$color-primary};
  }

  &:focus, &:focus-visible {
    --button-border-color: #{vars.$color-primary-opacity-high};

  }

  &--icon-only {
    --button-padding-inline: 0.5em;
    --button-padding-block: 0.5em;
  }

  &--outline {
    --button-border-color: #{vars.$color-secondary};
    --button-text-color: #{vars.$color-secondary};
    --button-background: transparent;
    --button-border-width: 2px;
  }

  &--ghost {
    --button-background: transparent;
    --button-border-color: transparent;
    --button-text-color: #{vars.$color-secondary};
    --button-border-width: 0;
  }

  &__content {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1.4;
  }

  &__text {
    line-height: 1.4;
  }

  &__icon--left {
    margin-inline-end: 0.5em;
  }

  &__icon--right {
    margin-inline-start: 0.5em;
  }
}
