.base-icon {
  width: 1em;
  height: 1em;
  fill: currentColor;

  &--inline {
    position: relative;
    vertical-align: middle;
  }

  path {
    &:not([fill]) {
      fill: currentColor;
    }
  }
}
