@use '../abstracts/variables' as vars;


.base-headline {
  font-weight: vars.$fw-regular;
  line-height: vars.$lh-headline;

  &--h1 {
    font-size: clamp(1.333rem, calc(vars.$font-scale-factor * 0.042), 1.777rem);
  }

  &--h2 {
    font-size: clamp(1.333rem, calc(vars.$font-scale-factor * 0.042), 1.777rem);
  }

  &--h3 {
    font-size: 1.777rem;
  }

  &--h4 {
    font-size: 1.333rem;
  }

  &--h5 {
    font-size: 1.333rem;
  }
}
