@use '../abstracts/variables.scss' as vars;

.base-highlight {
  position: relative;
  display: inline-block;

  &::before {
    position: absolute;
    width: 102%;
    height: 0.6em;
    background-color: vars.$color-highlight;
    bottom: 0;
    left: -1%;
    display: block;
    content: "";
  }

  &__text {
    position: relative;
  }
}
