@use '../abstracts/variables' as vars;

.journey {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-inline: 1em;
  background-image: url('/assets/images/passion.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;


  &__text {
    text-align: center;
    background-color: vars.$color-primary;
    color: vars.$color-secondary;
  }

  &__text-background {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: vars.$color-primary;
  }

  &__skills {
    line-height: 1;
    text-align: center;
    padding: 0.6565em;
    border: 2px solid vars.$color-secondary;
    position: relative;
    font-size: 2em;
    background-color: vars.$color-primary;
    color: vars.$color-secondary;
    display: flex;
    justify-content: center;
    gap: clamp(0.3em, calc(6vw), 1em);
    box-shadow: 2px 2px 22px 6px vars.$color-highlight;
  }

  &__skills-heart {
    color: vars.$color-secondary;
  }


  &__skills-code {
    position: absolute;
    vertical-align: middle;
    right: 5px;
    transform: translateY(calc(-100% - 0.2em));

  }
}
