@use '../abstracts/variables' as vars;

.work {
  margin-top: 25vh;
  min-height: 100vh;
  padding-block: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8vh;

  &__headline {
    padding: 1rem;
    background-color: vars.$color-secondary;
    color: vars.$color-primary;
    margin-bottom: 8.5rem;
  }

  &__button-background {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 35vh;
    background-image: url('/assets/images/great.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__button-projects {
    position: absolute;
    top: 105%;
  }

  &__text {
    width: 100%;
    max-width: 32rem;
    position: absolute;
    bottom: 85%;
    text-align: center;
    color: vars.$color-primary;
    padding: 1rem;
    background-color: vars.$color-secondary;
    border: 1px solid vars.$color-primary;
  }
}
