@use '../abstracts/variables' as vars;

.contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  gap: 8%;
  background: linear-gradient(180deg, vars.$color-primary 60%, vars.$color-highlight 100%);

  &__headline {
    margin-top: 10%;
  }

  &__platforms {
    display: flex;
    justify-content: center;
    font-size: 3em;
  }

  &__contact-list {
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: min-content min-content;
    gap: 1rem;
    justify-content: center;
  }

  &__quote {
    margin-inline: 1rem;
    margin-bottom: 8vh;
    border: 2px solid vars.$color-border;
    position: relative;
    padding-inline: 1.3em;
    padding-block: 2.3em;


    &::before {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0px;
      width: 4em;
      border: 4px solid vars.$color-primary;
      background-color: vars.$color-primary;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -2px;
      width: 4em;
      height: 2em;
      border-radius: 0 5em 0 0;
      border: 2px solid vars.$color-border;
      transform: translateY(100%);
      border-left: 0;
      border-bottom: 0;
    }

    &-cite {
      position: absolute;
      bottom: 2px;
      right: 1.7em;
      left: 1.7em;
      text-align: right;
      font-size: 0.7em;
    }
  }

}
