/*
 * Colors
 */
$color-primary: var(--color-primary);
$color-secondary: var(--color-secondary);
$color-primary-opacity-high: var(--color-primary-opacity-high);
$color-secondary-opacity-high: var(--color-secondary-opacity-high);
$color-primary-opacity-low: var(--color-primary-opacity-low);
$color-secondary-opacity-low: var(--color-secondary-opacity-low);
$color-highlight: var(--color-highlight);
$color-highlight-opacity-high: var(--color-highlight-opacity-high);
$color-highlight-opacity-low: var(--color-highlight-opacity-low);
$color-font: var(--color-secondary);
$color-border: var(--color-secondary);

/*
 * Font
 */
$font-main: 'Roboto';
$font-base: 100%; /* 16px */
$lh-text: 1.75;
$lh-headline: 1.3;
$font-scale-factor: var(--font-scale-factor);


$fw-thin: 100;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-black: 900;
