$dark: #161621;
$dark-opacity-high: rgba(22, 22, 33, 0.8);
$dark-opacity-low: rgba(22, 22, 33, 0.2);
$light: #f4f4f4;
$light-opacity-high: rgba(244, 244, 244, 0.8);
$light-opacity-low: rgba(244, 244, 244, 0.2);
$highlight-opacity-high: rgba(255, 149, 0, 0.8);
$highlight-opacity-low: rgba(255, 149, 0, 0.5);
